
@font-face {
  font-family: "VulfMonoLightItalic";
  src: url("../fonts/VulfMonoDemo-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FiraCodeLight";
  src: url("../fonts/FiraCode-Light.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "FiraCodeBold";
  src: url("../fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "IBMSelectricLightItalic";
  src: url("../fonts/IBM_Selectric_Light_Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

/* Decrease the default font size */
html {
  font-size: 11pt;
}

/* ensure all headings use that font */
h1  {
  font-family: "VulfMonoLightItalic", "IBMSelectricLightItalic";
  /* font-style: italic; */
  font-weight: 800;
  font-size: 3em; /* Selectric is really small for some reason ! */
  text-transform: uppercase; 
  text-shadow: 1px 3px var(--color-focus-dark-shadow);
  color: var(--color-focus-dark);
}

html:not(.dark) h1 {
  text-shadow: 1px 3px var(--color-focus-shadow);
  color: var(--color-focus);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "FiraCode", var(--font-sans);
  font-weight: inherit;
  color: var(--color-neutral);
}

p, a{
  font-family: "FiraCode", var(--font-sans);
  color: var(--color-neutral);
}

a {
  font-family: "FiraCodeBold", var(--font-sans);
}

a:hover {
  font-family: "FiraCodeBold", var(--font-sans);
  text-decoration: underline;    
  text-decoration-style: wavy;
  text-decoration-thickness: 0.085em;
  color: var(--color-focus-secondary);
}

.main-menu a {
  font-family: "FiraCode", var(--font-sans);
}

.shrink {
  font-family: "IBMSelectricLightItalic";
  text-transform: uppercase; 
  font-size: 1.5em;
  font-weight: 800;
}

a.shrink {
  font-family: "VulfMonoLightItalic", "IBMSelectricLightItalic";
  text-transform: uppercase; 
  font-weight: 800;
}

 html:not(.dark) body.h-screen .invisible,
  html:not(.dark) body.h-screen label.fixed {
    background-color: rgba(var(--color-neutral), 0.95);
    border: var(--color-focus) 1px solid;
}
